*.html
CSL.docx
code.R
*.aux
*.bbl
*.bbl-SAVE-ERROR
*.bcf
*.bcf-SAVE-ERROR
*.blg
*.fdb_latexmk
*.fls
*.log
*.pdf
*.run.xml
*.synctex.gz
*.xdv
*.tex
*.out
latex/cache/*
figure/*
data/ratios.csv
data/methods.csv
data/utilities.csv
data/world_bank_data.csv
